{% extends "@App/base.html.twig" %}

{% block appbundle_content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Projets </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>


    <div class="col-lg-9">
        <div class="col-md-2">
            <form method="get" action="/project">
                <button type="submit" class="message-submit btn btn-success">Créer un projet d'évolution</button>
            </form>
        </div>
        <div class="panel panel-default">

            <div class="panel-body">

                <h3>Projets</h3>
                {% for project in projects %}
                    <br/> {{ project.creationDate|date('d/m/Y à H:i:s') }} par {{ project.owner }}
                    <p class="message-container">
                        {{ project.name }}<br/>
                    </p>
                    <a href="/project/detail/{{ project.id }}">Détails</a>
                {% endfor %}

            </div>
        </div>
{% endblock appbundle_content %}