{% extends "@App/base.html.twig" %}
{% block appbundle_message_content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Création d'un message</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    {{ form_start(form) }}
    <div class="col-lg-9">
    <div class="panel panel-default">
        <div class="panel-heading">

        </div>
        <div class="panel-body">
            <form>

                <label for="message">Message :</label><br/>
                {{ form_widget(form.body) }}
                {{ form_errors(form.body) }}

            </form>

            {{ form_end(form) }}
        </div>
    </div>
    </div>


{% endblock appbundle_message_content %}
