{% extends "@App/base.html.twig" %}

{% block appbundle_message_content %}
    <h1>Messages</h1>
    <form method="get" action="/message">
        <button type="submit" class="message-submit">Créer un message</button>
    </form>
        {% for message in messages %}
            <p class="message-container">{{ message.body }}</p>
            {% if is_granted('ROLE_ADMIN') %}
	            <p class="message-archived">
	            	{% if message.archived %}
	            		message archivé
	            	{% else %}
	            		<a href="/message/archive/{{ message.id }}" >Archiver</a>
	            	{% endif %}
	            </p>
            {% endif %}
        {% endfor %}

{% endblock appbundle_message_content %}